.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
 
  overflow-x: hidden;
  padding-top: 20px;
  -webkit-box-shadow: 0px 2px 9px 5px rgba(41, 41, 40, 1);
  -moz-box-shadow: 0px 2px 9px 5px rgba(41, 41, 40, 1);
  box-shadow: 0px 2px 9px 5px rgba(41, 41, 40, 1);
}

.sidenav ul {
  list-style-type: none;
  text-align: left;
  position: relative;
  background-color: aquamarine;
  top: 35vh;
  padding: calc(2.5vh + 0.5vmin);
  text-decoration: none;
  font-size: calc(2.7vh + 0.5vmin);
  color: #818181;
  display: block;
  -webkit-box-shadow: 0px 2px 9px 5px rgba(41, 41, 40, 1);
  -moz-box-shadow: 0px 2px 9px 5px rgba(41, 41, 40, 1);
  box-shadow: 0px 2px 9px 5px rgba(41, 41, 40, 1);
}

.sidenav li:hover {
  
  color: #f1f1f1;
}

#sideLi{
    position: relative;
    left: 0;
    width: calc(333vh + 0.5vmin);
    padding-bottom: 4vh;
    margin: calc(.5vh + 0.5vmin);
    padding: calc(.0vh + 0.5vmin);
    -webkit-box-shadow: 0px 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0px 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0px 2px 9px 5px rgba(41, 41, 40, 1);
}

