h1{
    text-align: center;
}
input {
    margin: 0;
    box-shadow: none;
}
.link{
    border: none;
    color: white;
}
.calendar{
    padding-left: 35%;
 } 
h3{
    /* text-align: center; */
    padding-left: 38%;
}
.message h4{
    font-size: 45px;
}
.form-control{
    font-weight: bold;
    color: black;
    width: 60%;
    margin-left: 22%;
}
.buttons {
    margin-left: 41%;
}

#popAdd{
    background: rgba(41, 41, 40, .95);
}